* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
}

body {
  background-color: #FFFDFA;
  color: #2a2e34;
  font-family: Poppins , sans-serif;
}

.icon {
  color: #ffc20f;
  font-size: 1.75rem;
  transition: .2s;
}

.icon:hover {
  color: #FAB309;
}

.category-btn {
  background-color: #f0f0f0;
  border: 1px solid #D6D6D6;
  border-radius: 1.2rem;
  color: #3b3f46;
  padding: 3px 9px;
  margin-left: .5rem;
  height: 36px;
  width: auto;
  white-space: nowrap;
};

.category-btn:hover {
  background-color: #D2D3EE;
}

.category-btn:focus {
  outline: none;
}

.category-btn::-moz-focus-inner {
  border: 0;
}

.category-selected {
  background-color: #0B7372;
  border: 1px solid #108690;
  color: #f0f0f0;
  box-shadow: inset 0 0 20px 1px #108690;
}

.radio-btn {
  appearance: none;
  background: transparent;
  border: 3.5px solid #f0f0f0;
  border-radius: 100%;
  height: 11.5px;
  width: 11.5px;
  outline: 2px solid #ffc20f;
  cursor: pointer;
  transform: translateX(45%);
}

.radio-btn:focus {
  box-shadow: 0 0 4px 1px #ffc20f90;
}

.radio-selected {
  background-color: #ffc20f;
}

.details-action-btn {
  appearance: none;
  background-color: #fbcf14;
  bottom: 0;
  border: 0;
  color: #2a2e34;
  height: 3.1em;
  outline: 0;
  position: fixed;
  transition: .2s;
  width: 100%;
}

.details-action-btn:hover {
  background-color: #ffc20f;
  box-shadow: 0 0 5px #fbcf14;
}

.action-alt {
  background-color: #0B7372;
  color: #f0f0f0;
}

.action-alt:disabled {
  background-color: #1A8583;
}

.action-alt:not(:disabled):hover {
  background-color: #0a6967;
}
